@font-face {
	font-family: 'univers-light-condensed.woff';
	src: url('./assets/font/univers-light-condensed.woff');
}

@font-face {
	font-family: 'Century-Gothic.woff';
	src: url('./assets/font/Century-Gothic.woff');
}

:root {
	font-family: 'Century-Gothic.woff';
	src: url('./assets/font/Century-Gothic.woff');
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2 {
    margin: 0;
	padding: 0;
}

p {
	font-family: 'univers-light-condensed.woff';
	src: url('./assets/font/univers-light-condensed.woff');
	margin: 0
}

button, input, textarea {
	font-family: 'Century-Gothic.woff';
	src: url('./assets/font/Century-Gothic.woff');
}

button[disabled] {
	pointer-events: none;
	background-color: #92400E;
	cursor: not-allowed;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
	box-shadow: 0 0 0 1000px #854D0E inset;
	-webkit-text-fill-color: #FFFFFF;
}