@font-face {
	font-family: 'univers-light-condensed.woff';
	src: url('./assets/font/univers-light-condensed.woff');
}

@font-face {
	font-family: 'Century-Gothic.woff';
	src: url('./assets/font/Century-Gothic.woff');
}

:root {
	font-family: 'Century-Gothic.woff';
	src: url('./assets/font/Century-Gothic.woff');
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, button {
    margin: 0;
	padding: 0;
}

p {
	font-family: 'univers-light-condensed.woff';
	src: url('./assets/font/univers-light-condensed.woff');
	font-weight: 200;
}